body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.controls {
    margin: 20px;
}

button {
    font-size: 18px;
    padding: 5px 10px;
    margin: 5px;
}

.log {
    margin: 20px auto;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    height: 200px;
}